*.pth
.ipynb_checkpoints
/data/
/model/MLmodel
/model/model.fastai*
/models*
/06_project/
/src/5/
/src/model*
/src/model/model.fastai*
/src/mlruns*
/outputs/
/mlops_zoomcamp_homework/*
/share/
/tmp/
/lib/
/lib64/
/mlflow_data/artifacts*
/include/
/bin/
/tmp/
*-jvsc-*
.env
.pytest_cache*
*__pycache__*
*.pyc
*.parquet
*.ipynb_checkpoints*
*model.fastai
*.html
*.bin
*.bkp

!*tmp_test_predictions.parquet
