*.pth
/05*
/06_project/.ipynb_checkpoints
/06_project/data/
/06_project/model/MLmodel
/06_project/model/model.fastai*
/06_project/src/model/model.fastai*
/06_project/model*
/06_project/outputs/
06_project/src/prefect_monitoring_solution.py
/mlops_zoomcamp_homework/*
/share/
/tmp/
/lib/
/lib64/
/include/
/bin/
.env
*.pyc
*.parquet
*.ipynb_checkpoints*
*model.fastai
*.html
*.bin
