[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
torch = "1.6.0"
torchvision = "0.7.0"
fastai = "*"
mlflow = "*"
gunicorn = "*"
boto3 = "*"
timm = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
ipykernel = "*"
pyreadline = "*"
tensorboard = "*"

[requires]
python_version = "3.9"
