[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
torch = "1.6.0"
torchvision = "0.7.0"
fastai = "2.0.9"
jupyter = "*"
ipykernel = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
