[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = ">=1.1.5"
matplotlib = "*"
torch = "1.6.0"
torchvision = "0.7.0"
fastai = "*"
mlflow = "*"
gunicorn = "*"
boto3 = "*"
timm = "*"
pyarrow = "*"
fsspec = "*"
s3fs = "*"
prefect = "*"
psycopg2-binary = "*"
scikit-learn = "*"
dataclasses = "==0.6"
flask = "~=2.0.1"
werkzeug = "~=2.0.1"
requests = "~=2.26.0"
prometheus-client = "~=0.11.0"
pyyaml = "~=5.4.1"
tqdm = "*"
pymongo = "*"
evidently = "*"

[dev-packages]
kaggle = "*"
pytest = "*"
jupyter = "*"
ipykernel = "*"
pyreadline = "*"
tensorboard = "*"
pre-commit = "*"
pylint = "*"

[requires]
python_version = "3.9"
