# for homeworks 1-6
#matplotlib
#numpy~=1.22.4
#seaborn
#scikit-learn==1.0.2
#pandas~=1.4.2
#setuptools~=62.3.2
#mlflow~=1.26.1
#hyperopt~=0.2.7
#prefect~=2.0b5

# for project
matplotlib
numpy
pandas
pandas
torch
torchvision
fastai
#fastai==2.0.9
ipykernel
setuptools~=62.3.2
mlflow~=1.26.1
hyperopt~=0.2.7
#prefect~=2.0b5

